* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

/* navbar */

.nav-section {
  background-color: #562eff;
}

.nav-section .navbar .navbar-brand .brand-logo {
  width: 49px;
}

.nav-section .navbar .navbar-brand .logo-text {
  font-size: 24px;
  font-weight: 500;
}

.nav-link img {
  width: 51px;
}

/* main seciton */
#main-section {
  margin-top: 30px;
}

/* player */

.white-background {
  background-color: #fff;
  padding: 20px;
}

.ttl-heading {
  color: #562eff;
  font-size: 24px;
  margin-bottom: 3rem;
}

.player-image {
  width: 70px;
  border-radius: 50%;
  padding: 10px;
}

.player-name {
  display: block;
}

/* blog */
.blog-section img {
  width: 177px;
}

.writer-name {
  color: #9f9f9f;
}

.writer-name-color {
  color: #562eff;
}

/* blog */
.blog-title {
  font-size: 20px;
  font-weight: 500;
}

/* course */
.star-image {
  width: 16px;
}

.time {
  color: #a2a2a2;
}

.course-title {
  color: #1e1e1e;
  font-size: 20px;
}

.course-teacher-name {
  color: #ed6b4f;
  font-size: 14px;
  font-weight: 500;
}

.course-time-border {
  background-color: #ff4a5f9d;
  border-radius: 40px;
  color: #ff4a60;
  font-size: 14px;
  padding: 1px 8px;
}

/* @media only screen and (max-width: 600px) {
  .navbar {
    margin: 0 1rem;
  }
} */
